<%= form_with(model: @proponent) do |form| %>
  <% if @proponent.errors.any? %>
    <ul>
      <% @proponent.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div>
    <%= form.label :birthdate %>
    <%= form.date_field :birthdate %>
  </div>

  <%= form.fields_for :address do |a_form| %>
    <div>
      <%= a_form.label :street %>
      <%= a_form.text_field :street %>
    </div>

    <div>
      <%= a_form.label :discrict %>
      <%= a_form.text_field :district %>
    </div>

    <div>
      <%= a_form.label :number %>
      <%= a_form.text_field :number %>
    </div>
    <div>
      <%= a_form.label :zip_code %>
      <%= a_form.text_field :zip_code %>
    </div>

    <div>
      <%= a_form.label :city %>
      <%= a_form.text_field :city %>
    </div>

    <div>
      <%= a_form.label :state %>
      <%= a_form.text_field :state %>
    </div>
  <% end %>

  <div>
    <%= form.submit 'Salvar' %>
  </div>
<% end %>
