<%= form_with(model: @proponent) do |form| %>
  <% if @proponent.errors.any? %>
    <ul>
      <% @proponent.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div>
    <%= form.label :birthdate %>
    <%= form.date_field :birthdate %>
  </div>

  <div>
    <%= form.submit 'Salvar' %>
  </div>
<% end %>
