<div class="card mb-3">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title">
        <%= @proponent.name %>
      </h5>
    </div>

    <div class="mb-3">
      <div>
        <span class="fw-semibold">CPF:</span>
        <span class="card-text"><%= @proponent.cpf %></span>
      </div>

      <div>
        <span class="fw-semibold">Data Nascimento:</span>
        <span class="card-text"><%= @proponent.birthdate %></span>
      </div>

      <div>
        <span class="fw-semibold">Endereço:</span>
        <span class="card-text"><%= @proponent.address.display %></span>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-center">
      <%= link_to 'Voltar', proponents_path, class: 'btn btn-outline-secondary me-2' %>
      <%= link_to 'Editar', edit_proponent_path(@proponent), class: 'btn btn-outline-primary me-2' %>
      <%= link_to 'Remover', @proponent, data: { turbo_method: :delete }, class: 'btn btn-outline-danger' %>
    </div>
  </div>
</div>
