<h1><%= @proponent.name %></h1>

<%= link_to 'Voltar', proponents_path %>

<div>
  <span>CPF:</span>
  <span><%= @proponent.cpf %></span>
</div>

<div>
  <span>Data Nascimento:</span>
  <span><%= @proponent.birthdate %></span>
</div>

<div>
  <span>Data Nascimento:</span>
  <span><%= @proponent.birthdate %></span>
</div>

<div>
  <span>Endereço:</span>
  <span><%= @proponent.address.display %></span>
</div>

<div>
  <%= link_to 'Editar', edit_proponent_path(@proponent) %>
  <%= link_to 'Remover', @proponent, data: { turbo_method: :delete } %>
</div>
