<div class="card mb-3">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title">
        <%= @proponent.name %>
      </h5>
    </div>

    <div class="mb-3">
      <div>
        <span class="fw-semibold">CPF:</span>
        <span class="card-text"><%= @proponent.cpf %></span>
      </div>

      <div>
        <span class="fw-semibold">Data Nascimento:</span>
        <span class="card-text"><%= @proponent.birthdate %></span>
      </div>

      <div>
        <span class="fw-semibold">Endereço:</span>
        <span class="card-text"><%= @proponent.address.display %></span>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">
      Telefones
    </h5>

    <div class="mb-3">
      <ul class="list-group list-group-flush">
        <%= turbo_frame_tag :phone_numbers do %>
          <% @proponent.phone_numbers.each do |phone_number| %>
            <%= render phone_number %>
          <% end %>
        <% end %>
      </ul>
    </div>


    <%= turbo_frame_tag :phone_number_form do %>
      <%= link_to 'Adicionar número', 
        new_proponent_phone_number_path(@proponent), 
        data: { turbo_frame: :phone_number_form }, 
        class: 'btn btn-primary'
      %>
    <% end %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-center">
      <%= link_to 'Voltar', proponents_path, class: 'btn btn-outline-secondary me-2' %>
      <%= link_to 'Editar', edit_proponent_path(@proponent), class: 'btn btn-outline-primary me-2' %>
      <%= link_to 'Remover', @proponent, data: { turbo_method: :delete }, class: 'btn btn-outline-danger' %>
    </div>
  </div>
</div>
